body {
    background-color: #f0f2f5;
    color: #333;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 250px;
    text-align: center;
}

.navbar {
    background-color: #343a40;
    color: #fff;
}

.navbar a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

.title {
    text-align: center;
    color: #343a40;
    font-size: 2.5rem;
}

.logo-container {
    bottom: 330px;
    left: 0;
    right: 0;
    text-align: center;
    position: relative;
}

.logo {
    filter: brightness(50%);
    width: 250px;
    height: auto;
}

.btn-lin,
.btn-logoutlib {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-lin {
    margin-top: 25px;
    background-color: #6c757d;
    border: none;
    color: #fff;
}

.btn-logoutlib {
    /* background-color: #dc3545; */
    border: none;
}

footer {
    background-color: #f8f9fa;
    /* Light background color */
    color: #343a40;
    padding: 10px 0;
    /* Padding for the top and bottom */
    position: relative;
    margin-top: auto;
    /* Stick it to the bottom if you have a fixed height */
    width: 100%;
    /* Full width */
}

footer p {
    margin: 0;
    /* Remove default margin */
    color: #343a40;
    /* Dark gray text color */
    font-size: 13px;
}

.dataTableContainer {
    /* margin-bottom: 15px; */
    position: relative;
    margin: auto;
    bottom: 100px;
    width: 75%;
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#studentTable,
#staffTable {
    border-spacing: 0;
    border-collapse: collapse;
}

.copyright {
    background: none;
}

.foot {
    font-size: 1.75rem;
}

.modal-header {
    margin-bottom: 0;
    padding-bottom: 0;
}


@media (max-width: 1075px) {
    .title {
        font-size: 2rem;
    }
    .foot {
        font-size: 1.5rem;
    }
}

@media (max-width: 915px) {
    /* .title {
        font-size: 2rem;
    } */
    .foot {
        font-size: 1.2rem;
    }
}

@media (max-width: 867px) {

    .title {
        font-size: 1.5rem;
    }

    th,
    td {
        font-size: 0.9em;
    }
}

@media (max-width: 795px){

    th,
    td {
        font-size: 0.7em;
    }
}

@media (max-width: 768px){

    .logo {
        scale: 0.75;
    }

    .btn-lin {
        margin-bottom: 10px;
    }

    .foot {
        font-size: 1rem;
    }

    .dataTableContainer {
        bottom: 125px;
    }

    th,
    td {
        font-size: 0.6em;
    }
}

@media (max-width: 665px){
    .foot {
        font-size: 0.6rem;
    }

    .dataTableContainer {
        bottom: 100px;
        scale: 1.1;
    }

    th,
    td {
        font-size: 0.4em;
    }
}