.logo-container {
    bottom: 70%;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
}

.logo {
    width: 250px; 
    height: auto;
}

.container {
    margin-top: 200px;
    text-align: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.btn-lin, .btn-lout, .btn-logoutlib {
    margin: 50px;
    padding: 10px 25px 10px 25px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}