.logo-container {
    bottom: 70%;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
}

.logo {
    width: 250px; 
    height: auto;
}

.container {
    margin-top: 200px;
    text-align: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.btn-lin, .btn-lout, .btn-logoutlib {
    margin: 50px;
    padding: 10px 25px 10px 25px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #f8f9fa; /* Light background color */
    padding: 10px 0; /* Padding for the top and bottom */
    position: relative; /* Optional: to position it properly if needed */
    bottom: 0; /* Stick it to the bottom if you have a fixed height */
    width: 100%; /* Full width */
}

footer p {
    margin: 0; /* Remove default margin */
    color: #6c757d; /* Dark gray text color */
    font-size: 13px;
}